<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/logo.svg">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/media.css">
    <title>My Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="title">
            <img src="assets/logo.svg">
            <h1 class="title">Nitesh saini</h1>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="#about" class="link">About me</a></li>
                <li><a href="#skill" class="link">Skills</a></li>
                <li><a href="#project" class="link">Projects</a></li>
                <li><a href="#contact" class="link">Contact</a></li>
                <a href="/resume" class="nav-resume">Resume</a>
            </ul>
        </div>
    </nav>
    <div class="bg1"></div>
    <div class="bg2"></div>
    <section class="hero">
        <div class="hero-content">
            <span class="badge"><img src="assets/opportunities.svg"> Open to New Opportunities</span>
            <h1>Hello, I'm Nitesh Saini</h1>
            <h2>Welcome to My Digital Portfolio</h2>
            <p>As a passionate web developer, I am committed to creating innovative digital solutions. With a strong
                foundation in both front-end and back-end technologies, I excel at designing responsive websites and
                developing robust web applications that deliver seamless user experiences.</p>
            <a href="#contact" class="hero-a">Get in Touch</a>
        </div>
        <div class="hero-content2"></div>
    </section>
    <section class="stats">
        <div>
            <h1>1 Year</h1>
            <p>Professional Experience</p>
        </div>
        <div>
            <h1>10+</h1>
            <p>Completed Projects</p>
        </div>
        <div>
            <h1>20+</h1>
            <p>Core Competencies</p>
        </div>
    </section>

    <section class="about-me" id="about">
        <div class="my-image">
            <img src="assets/my image.png" alt="myphoto">
            <div class="social">
                <a href="https://www.linkedin.com/in/nitesh-saini-b936b1257/"><i class="fa-brands fa-linkedin"
                        style="color: #A53DFF;"></i></a>
                <a href="https://github.com/niteshsaini9568"><i class="fa-brands fa-github" style="color: #A53DFF;"></i></a>
                <a href="/resume"><i class="fa-solid fa-file" style="color: #A53DFF;"></i></a>
                <a href="https://www.instagram.com/niteshsaini9027?igsh=M3NsbHBraGVyb3Zz"><i class="fa-brands fa-instagram"
                        style="color: #A53DFF;"></i></a>
                <a href=""><i class="fa-solid fa-code" style="color: #A53DFF;"></i></a>
            </div>
        </div>
        <div class="about-content">
            <h2>About Me</h2>
            <h1>Full Stack MERN Developer & Competitive Programmer</h1>
            <p>I am a dynamic developer passionate about crafting innovative digital solutions. Whether I am writing clean
                and efficient code for scalable, secure web applications as a Backend Developer, designing engaging and
                intuitive user interfaces as a Frontend Developer, or creating robust applications using the MERN stack, my
                focus is on delivering exceptional performance and seamless user experiences. My commitment to continuous
                learning and improvement drives me to explore new technologies and methodologies in the ever-evolving
                landscape of web development.</p>
            <div class="about-btn">
                <a href='#project' class="btn1">Explore My Projects</a>
                <a href='/resume' class="btn2"><i class="fa-solid fa-download" style="color: #A53DFF;"></i>Download CV</a>
            </div>
        </div>
    </section>

    <section class="skills" id="skill">
        <div class="skill-content">
            <h1>My Skills</h1>
            <p>As I navigate my path in the tech industry, I am fueled by a passion for innovation and a desire for
                continuous learning. Each challenge I face is an opportunity to enhance my expertise and contribute
                meaningfully in the ever-evolving world of technology.</p>
        </div>
        <div class="skill-container">
                <div class="web">
                    <img src="assets/web.svg">
                    <p><b>Web Development:</b> Full-stack developer specializing in the MERN stack, adept at crafting
                        dynamic web applications with responsive designs.</p>
                </div>
                <div class="coding">
                    <img src="assets/coding.svg">
                    <p><b>Programming:</b> Proficient in languages such as Python, C++, and JavaScript, with a focus on
                        writing clean, efficient code.</p>
                </div>
                <div class="devtools">
                    <img src="assets/dev.svg">
                    <p><b>Version Control:</b> Experienced in Git and GitHub for effective collaboration and project
                        management.</p>
                </div>
                <div class="team-management">
                    <img src="assets/team.svg">
                    <p><b>Team Leadership:</b> Strong collaboration skills, capable of leading projects to successful
                        completion while fostering a positive team environment.</p>
                </div>
            </div>
    </section>

    <div class="bg2"></div>
    <section class="projects" id="project">
        <h1>Projects Showcase</h1>
        <p>Welcome to my Projects Showcase. Here, you can explore a selection of my most significant and impactful projects.
            Each project demonstrates my skills in web development, coding, version control, and team management. From
            developing dynamic web applications to leading collaborative efforts, these projects highlight my technical
            expertise and dedication to creating high-quality, functional solutions. Dive in to see the detailed work and
            innovative approaches I've taken to solve real-world problems.</p>
        <div class="project-show">
            <div>
                <img src="assets/plant.jpg" alt="Plant Disease Detection">
                <span class="project-badge">
                    <img src="assets/extension.svg" alt="Badge">
                    <p>AI-Powered</p>
                </span>
                <h1>Plant Disease Detection</h1>
                <p>This project uses machine learning to detect and classify plant diseases from images, providing quick and accurate
                    diagnoses to help farmers manage crop health effectively.</p>
                <a href="https://github.com/niteshsaini9568/SAS-Hackathon">Show</a>
            </div>

            <div>
                <img src="assets/termease.jpg">
                <span class="project-badge">
                    <img src="assets/extension.svg">
                    <p>Chrome extension</p>
                </span>
                <h1>TermEase - Google chrome extension</h1>
                <p>An AI-based web extension that utilizes an API to summarize the terms and conditions of any website into concise points,
                providing users with quick insights.</p>
                <a href="https://www.linkedin.com/posts/nitesh-saini-b936b1257_termsandconditions-webextension-naturallanguageprocessing-activity-7204561020651016192-KEnl/" >Show</a>
            </div>
            <div>
                <img src="assets/data-breach.jpg">
                <span class="project-badge">
                    <img src="assets/extension.svg">
                    <p>API</p>
                </span>
                <h1>BreachAlert</h1>
                <p>Empowering users to assess data security, determine if their data has been compromised, and gain insights into breaches.
                Our platform prioritizes privacy and security, offering a comprehensive solution to safeguard sensitive information
                effectively.</p>
                <a href="https://breach-alert.onrender.com">Show</a>
            </div>
            <div>
                <img src="assets/dark-pattern.jpg">
                <span class="project-badge">
                    <img src="assets/extension.svg">
                    <p>Chrome extension</p>
                </span>
                <h1>Data-Patterns Detector</h1>
                <p>A Chrome extension that detects dark patterns, blocks intrusive ads, and offers real-time incident reporting and UI
                element highlighting for a safer browsing experience.</p>
                <a href="https://github.com/niteshsaini9568/Dark-pattern-detector.git">Show</a>
            </div>
            <div>
                <img src="assets/Elites-hub.jpg">
                <span class="project-badge">
                    <img src="assets/extension.svg">
                    <p>MERN</p>
                </span>
                <h1>Elite-estates</h1>
                <p>A MERN-based platform for effortless real estate purchase and selling. Integrated with MongoDB, Express.js and Node.js,
                it empowers users to buy and sell properties with ease. Google authentication ensures secure access.</p>
                <a href="https://elites-estates-hub.onrender.com">Show</a>
            </div>
            <div>
                <img src="assets/ad blocker.jpg">
                <span class="project-badge">
                    <img src="assets/extension.svg">
                    <p>Chrome extension</p>
                </span>
                <h1>Ad-blocker</h1>
                <p>The ad-blocker Chrome extension enhances browsing experience by removing intrusive advertisements, allowing users to
                enjoy a cleaner and faster web experience.</p>
                <a href="https://www.linkedin.com/posts/nitesh-saini-b936b1257_chromeextension-adblocker-webdevelopment-activity-7206026214363267072-Ckte?utm_source=share&utm_medium=member_desktop">Show</a>
            </div>  
        </div>
        <a href="https://github.com/niteshsaini9568?tab=repositories" class="load-more">Load more</a>
    </section>
    <section class="education">
        <h1><i class="fa-solid fa-graduation-cap"></i> Education</h1>
        <div class="education-item">
            <h2>Rajiv Gandhi Institute of Petroleum Technology</h2>
            <p>Integrated Dual Degree (B.Tech + M.Tech) in Computer Science and
                Engineering with A.I (2022 – 2027)</p>
            <p> CGPA: 8.5</p>
        </div>
        <div class="education-item">
            <h1><i class="fa-solid fa-trophy"></i>Achievements</h1>        
            <h2>Dark Patterns Buster Hackathon 2023 - IIT-BHU</h2>
            <p>Ranked in the top 5% among 1800 teams nationwide.</p>
        
            <h2>SAS Global Hackathon - Finalist</h2>
            <p>Placed in the top 100 teams globally in the SAS International Hackathon.</p>
        
            <h2>Selected DSA Teaching Assistant - CSE Batch</h2>
            <p>Chosen as a Teaching Assistant for Data Structures and Algorithms.</p>
        </div>

    </section>
    <h1 class="contact-heading">Contact me</h1>
    <section class="contact" id="contact">
        <div class="my-contact-info">
            <h1>Let's discuss your project</h1>
            <p>Contact me to bring your ideas to life. Whether you have a clear vision or just a rough concept, I'm here to help.
                Let's collaborate to create something extraordinary and achieve your goals. I look forward to hearing from you and
                discussing your exciting project!</p>
            <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Jais , Amethi , U.P</p>
            </div>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <p>22cs2015@rgipt.ac.in</p>
            </div>
            <div class="phone">
                <i class="fa-solid fa-phone"></i>
                <p>+91-6376840335</p>
            </div>
            <h1 class="social-heading">Social handles</h1>
            <div class="social2">
                <a href="https://www.linkedin.com/in/nitesh-saini-b936b1257/"" target="_blank">
                    <i class="fa-brands fa-linkedin" style="color: #A53DFF;"></i>
                </a>
                <a href="https://github.com/niteshsaini9568" target="_blank">
                    <i class="fa-brands fa-github" style="color: #A53DFF;"></i>
                </a>
                <a href="/resume" target="_blank">
                    <i class="fa-solid fa-file" style="color: #A53DFF;"></i>
                </a>
                <a href="https://www.instagram.com/niteshsaini9027?igsh=M3NsbHBraGVyb3Zz" target="_blank">
                    <i class="fa-brands fa-instagram" style="color: #A53DFF;"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa-solid fa-code" style="color: #A53DFF;"></i>
                </a>
            </div>
        </div>
        <div class="contact-form">
            <h2>Get in Touch</h2>
            <form action="/contact" id="contactForm" method="POST">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
    
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
    
                <label for="location">Location</label>
                <input type="text" id="location" name="location">
    
                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" required>
    
                <label for="message">Message</label>
                <textarea id="message" name="message" rows="4" required></textarea>
                
                <button type="submit">Submit</button>
                <span class="badge email-cnfrm"><img src="assets/email.svg">Check your email for confirmation after submitting.</span>
            </form>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h1>Nitesh Saini - Portfolio</h1>
                <p>A dedicated web developer with a passion for creating interactive and responsive applications. Skilled in
                    full-stack development, with hands-on experience in AI, machine learning, and data security solutions. Aspiring
                    to further hone my technical and analytical skills through impactful projects and professional collaborations.
                </p>
                <p>Explore my work, connect with me, and see how I can contribute to innovative projects with a focus on user
                    satisfaction and efficiency.</p>
            </div>

            <div class="footer-section links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="#about" class="link">About me</a></li>
                    <li><a href="#skill" class="link">Skills</a></li>
                    <li><a href="#project" class="link">Projects</a></li>
                    <li><a href="#contact" class="link">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 @Nitesh saini | Designed by Nitesh saini.
        </div>
    </footer>
<scrip src="/js/index.css"></scrip>

</body>
</html>